## This is a simple guide on how to load LEAF data as a pandas dataframe for analysis.

You may need to install numpy, pandas, xarray and netcdf4 packages to your environment.

In [1]:
import numpy as np
import pandas as pd
import xarray as xr

import matplotlib.pyplot as plt
%matplotlib inline

Downloading the datafile to the working directory. find the links to all the datafiles here: https://github.com/OpenDataLanka/Datasets

In [ ]:
!wget https://storage.googleapis.com/leaf-data/raw_data/MCD15A2H.006_2002.nc4

In [14]:
mcd15a2h_006_2002 = xr.open_dataset('../MCD15A2H.006_2002.nc4')

In [15]:
df = mcd15a2h_006_2002.to_dataframe()

In [16]:
flattened = pd.DataFrame(df.to_records())
flattened.head()

,N_lat,N_lon,time,latitude,longitude,YYYYMMDD,LAI,FPAR,FparLai_QC,FparExtra_QC
0,0,0,0,5.502083,79.502083,b'20020704',1,24,10,35
1,0,0,1,5.502083,79.502083,b'20020712',1,89,40,35
2,0,0,2,5.502083,79.502083,b'20020720',1,59,8,35
3,0,0,3,5.502083,79.502083,b'20020728',1,21,8,35
4,0,0,4,5.502083,79.502083,b'20020805',1,87,42,35